<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

    <title>olgavr</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='glyphicons.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style><style id="holderjs-style" type="text/css"></style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style></head>

  <body><panel class="drweb_select-panel" style="display: none;"><div class="drweb_tool-panel"><div class="drweb_tool-icon drweb_tool-icon_show" data-co="restore-btn" title="restore"></div><div class="drweb_tool-icon drweb_tool-icon_remove" data-co="remove-btn" title="remove"></div><div class="drweb_fit-btn" data-co="fit-btn" title=""></div></div><span data-co="label">Выберите элементы, которые не хотите видеть на этой странице</span><div class="drweb_btn" data-co="save">Сохранить</div><div class="drweb_btn" data-co="cancel">Отмена</div><div class="drweb_panel-plug" data-co="plug" style="display: none"></div></panel>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
                <ul class="nav masthead-nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home" data-toggle="tab">Главная</a></li>
                    <li><a href="#detail" data-toggle="tab">Что я умею</a></li>
                    <li><a href="#contacts" data-toggle="tab">Как со мной связаться</a></li>
                </ul>
            </div>
          </div>
<div class="tab-content">
  <div class="tab-pane active" id="home">
      <div class="inner cover" style="background: rgba(0, 0, 0, 0.6); border-radius: 20px;">
            <h1 class="cover-heading">Здравствуйте!</h1>
            <p class="lead">Меня зовут Ольга, я junior Python программист.</p>
            <p class="lead">Вы знаете, что делать дальше. </p>
          </div>
      <div align="right" style="color: #C5C4C4; position: absolute; left: 30%; padding-right: 20px; padding-top: 10px;"><p class="lead" style="font-size: 16px;">На фоне: Гиппокамп мыши линии Thy1-GFP. Окраска при помощи GFP, изображение сделано с помощью конфокального микроскопа LSM 780. Образец предоставлен факультетом MCDB Калифорнийского университета Санта-Круз. <code><a href="http://www.zeiss.com" target="_blank">www.zeiss.com</a></code></p>
            <p class="lead" style="font-size: 16px;">Здорово, правда?</p></div>
  </div>
  <div class="tab-pane" id="detail"><div class="inner cover" style="background: rgba(0, 0, 0, 0.6); border-radius: 20px;">
        <h1 class="cover-heading">Готовые проекты:</h1>
                <p class="lead">Март-апрель 2016 года.</p>
                <p class="lead">Для ООО "ЛитРес": cоздание системы карточек в MARC-формате.</p>
                <p class="lead">Разработка, отладка и запуск системы подбора, редактирования и экспорта карточек библиографического описания в формате iso 2709.</p>
<br />
                <p class="lead">Апрель-май 2016 года.</p>
                <p class="lead">Разработка сайта rudut.ru на базе Django фреймворка с использованием Bootstrap, Javascript.</p>
        <h1 class="cover-heading">Использую:</h1>
            <p class="lead">Язык программирования: Python</p>
            <p class="lead">Фреймворки: Django, Flask</p>
            <p class="lead">БД: MySQL</p>
            <p class="lead">Верстка: HTML, CSS, JS, jQuery, Bootstrap</p>
            <p class="lead">Инструменты: Git</p>
            <p class="lead">Администрирование: Linux(Ubuntu), virtualenv</p>
          </div>
      </div>
  <div class="tab-pane" id="contacts">
      <div class="inner cover" style="background: rgba(0, 0, 0, 0.6); border-radius: 20px;">
            <h1 class="cover-heading">Как со мной связаться:</h1>
            <noindex><p class="lead"><i class="fa fa-google"></i> <a href="mailto:cdg013@gmail.com"> cdg013@gmail.com </a></p>
            <p class="lead"><i class="fa fa-skype"></i> cdg013</p>
            <p class="lead"><i class="fa fa-github"></i> <a href="https://github.com/cyperus-papyrus">cyperus-papyrus</a></p></noindex>
          </div>
  </div>
</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='docs.min.js') }}"></script>



</body></html>
